default: &default
  adapter: postgresql
  pool: 5
  username: svitlanadzyuban
  password:
  host: localhost
  timeout: 5000

development:
  <<: *default
  database: flash_cards

test:
  <<: *default
  database: flash_cards_test
